* {
    --line-thickness: 0.01in;
    --line-color: #eee;
}

body {
    background-color: #222;
    color: #eee;
}

h2 {
    text-align: center;
}

.game {
    margin: 5em;
    min-height: 31em;
}

.game img {
    float: left;
    height: 31em;
    margin-right: 2em;
}

.game_text {

}

.controls_container {
    background-color: #333;
    padding: 1em;
    width: 100%;
}

.video_container {
    display: flex;
    justify-content: center;
}

.video_container video {
    width: 75%;
}

[hr], hr {
    background: var(--line-color);
    border: solid var(--line-thickness) transparent;
    border-radius: var(--line-thickness);
    margin: auto auto;
}

